* {
	margin: 0;
}
body {
	background: #ffffcc;
}

.navbar-brand {
	font-family: Times;
	color: #FFF6f0;
}

nav li a {
	color: #FFF6f0;

}

.carousel-caption, .featurette-heading {
	font-family: 'Cookie', cursive;
}

.carousel-caption h1 {
		font-size: 55px;
	    text-shadow: 5px 2px 8px black;
}

/*styles for contact form*/
    legend .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 25px;
        color: #36A0FF;
    }

    .text-center {
    	font-family: 'Cookie', cursive;
    }
